* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
}

header h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.3s;
}

nav a.active {
    color: #cd172a;
}

nav a:hover {
    background-color: red;
    color: white;
}
img {
    display: block;
    margin: auto;
    width: 50%;
  }